body{
    background: linear-gradient(45deg, blue, indigo, white);
    width: 100vw;
    height: 100vh;
}

form{
    border: 2px solid #fff;
    border-radius: 10px;
    background: rgba(200,200,200,0.65);
}

.title{
    color:#000;
    width: 100%;
    text-align: center;
    float: left;
}

.redir{
    float: right;
}

.mgTp{
    margin-top:10%;
}

.topBtn{
    margin-top:15px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccc !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ccc !important;
}
