body{
    background: linear-gradient(45deg,blue 20%, white 60%, skyblue 20%);
    height: 100vh;
    width: 100vw;
}

.title{
    color:#007bff;
}

.mgTp{
    margin-top:10%;
}

.topBtn{
    margin-top:15px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccc !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ccc !important;
}
